@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


.App {
  text-align: center;
}

html {
  background-color: black;
}

.landing-main {
  margin: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.landing-title {
  color: white;
  font-size: 80px;
  font-family: 'Courgette', cursive;
}

.landing-subtitle {
  color: white;
  font-size: 24px;
}

.landing-text {
  margin: 3px;
  color: white;
}

.landing-links {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  background-color: grey;
  padding: 7px;
}

.sign-in-button {
  margin-top: 2em;
  margin-bottom: 1em;
}

.sign-up-button {
  margin: 1em;
}

.sign-in {
  margin-top: 2em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  width: 200px;
  height: 25px;
}

.register-main {
  margin: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.register-title {
  color: white;
  font-size: 24px;
  font-family: 'Courgette', cursive;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-button-group {
  margin-top: 1em;
}

.form-group {
  margin: 1em;
  display: flex;
  justify-content: space-between;
}

.field-title {
  color: white;
  margin-right: 2em;
}

@media (max-width: 850px) {

  .landing-main {
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .landing-title {
    font-size: 40px;
  }

  .landing-subtitle {
    color: white;
    font-size: 16px;
  }

}